@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: #3d3d3d;
}

h1,
h2 {
  font-family: "Alfa Slab One", cursive;
  color: #3d2514;
  text-transform: uppercase;
  line-height: 1;
}

h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
  color: #3d2514;
  text-transform: uppercase;
  line-height: 1;
}

ul {
  list-style: none;
}

p,
a,
li {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 769px) {
  .container {
    width: 90%;
  }
}

body {
  background-color: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background: url(../img/header-bg.jpg);
  padding: 50px 5%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 769px) {
  header {
    padding: 30px 5%;
  }
}

header nav {
  width: 100%;
}

header nav .topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 769px) {
  header nav .topBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header nav .topBar a {
  line-height: 60px;
  position: relative;
  font-size: 2.5rem;
  padding-left: 80px;
  font-family: "Bebas Neue", cursive;
  color: #3d2514;
}

header nav .topBar a::before {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  left: 0px;
  background-size: 60px;
  background-position: center;
  background-image: url(../img/header-logo.png);
}

header nav .topBar p {
  color: #3d2514;
  position: relative;
  line-height: 30px;
  padding-left: 60px;
  font-weight: 700;
  letter-spacing: 2px;
}

@media (max-width: 769px) {
  header nav .topBar p {
    margin-top: 10px;
  }
}

header nav .topBar p::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url(../img/menu-img.png);
  height: 30px;
  width: 40px;
  left: 0px;
  background-size: 100%;
  background-position: center;
}

header nav ul {
  text-align: right;
  margin-top: 30px;
}

@media (max-width: 769px) {
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header nav ul li {
  display: inline-block;
  margin-left: 60px;
  text-transform: uppercase;
  font-size: 1.7rem;
}

@media (max-width: 769px) {
  header nav ul li {
    margin-left: 0px;
  }
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav ul li a {
  color: #3d2514;
  letter-spacing: 3px;
  font-family: "Bebas Neue", cursive;
}

header article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

@media (max-width: 769px) {
  header article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header article hgroup {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 100px;
}

@media (max-width: 769px) {
  header article hgroup {
    padding-top: 50px;
  }
}

header article hgroup h4 {
  font-family: "Bebas Neue", cursive;
  border: 3px dashed #3d2514;
  padding: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.3rem;
  display: inline-block;
}

header article hgroup h1 {
  font-size: 6.3rem;
  text-transform: uppercase;
  text-shadow: 5px 5px 0 #fff;
  line-height: 1;
  margin: 20px 0;
}

@media (max-width: 769px) {
  header article hgroup h1 {
    font-size: 4rem;
  }
}

header article hgroup h2 {
  font-size: 3.3rem;
  text-transform: uppercase;
  line-height: 1;
  text-shadow: 5px 5px 0 #fff;
  text-transform: uppercase;
}

@media (max-width: 769px) {
  header article hgroup h2 {
    font-size: 2.7rem;
  }
}

header article > div {
  position: relative;
}

@media (max-width: 769px) {
  header article > div img {
    width: 80%;
    margin: 0 auto;
  }
}

header article > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-color: #df1b1c;
  bottom: 0;
  left: 0;
}

header article > div div::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 2px dashed #fff;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

header article > div div p {
  color: #fff;
  font-size: 5rem;
  font-family: "Bebas Neue", cursive;
  line-height: 1;
}

header article > div div p span {
  font-size: 2rem;
}

header article > div div p:last-child {
  letter-spacing: 5px;
  font-size: 2rem;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 60px 8%;
}

.action article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 769px) {
  .action article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.action article div {
  width: 100%;
  position: relative;
}

.action article div h3 {
  position: absolute;
  color: #fff;
  font-size: 1.7rem;
  line-height: 1;
  top: 30px;
  left: 30px;
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
}

.action article div h3 span {
  font-size: 3rem;
}

@media (max-width: 769px) {
  .action article div h3 span {
    font-size: 2.7rem;
  }
}

.action article img {
  width: 100%;
  border-radius: 20px;
}

@media (max-width: 769px) {
  .action article img {
    margin-bottom: 20px;
  }
}

.choose {
  width: 100%;
  text-align: center;
  padding: 0 0 50px 0;
}

.choose > h3 {
  background-color: #ffc136;
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: 400;
  display: inline-block;
}

.choose h2 {
  font-size: 3.5rem;
  margin: 40px 0 30px;
}

.choose p {
  padding: 0 10%;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(61, 37, 20, 0.8);
}

.choose article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 5%;
  margin-top: 60px;
}

.choose article div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26%;
          flex: 0 0 26%;
}

@media (max-width: 769px) {
  .choose article div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    margin-bottom: 40px;
  }
  .choose article div:last-child {
    margin: 0 auto;
  }
}

.choose article div img {
  width: 100%;
}

.choose article div h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 20px 0;
}

.choose article div p {
  font-size: 1.1rem;
}

.choose article div button {
  background-color: #df1b1c;
  color: #fff;
  padding: 20px 50px;
  margin-top: 40px;
  font-family: "Alfa Slab One", cursive;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.choose article div button:hover {
  background-color: #3d2514;
  color: #ffc136;
}

.events {
  padding: 50px 5%;
}

.events h4 {
  font-size: 2rem;
  color: #3d3d3d;
  font-weight: 400;
  margin-bottom: 10px;
}

.events h2 {
  font-size: 3rem;
}

.events article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px;
  -webkit-box-shadow: 20px 20px 20px rgba(61, 61, 61, 0.5);
          box-shadow: 20px 20px 20px rgba(61, 61, 61, 0.5);
}

@media (max-width: 769px) {
  .events article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.events article > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  padding: 30px;
  position: relative;
}

@media (max-width: 769px) {
  .events article > div:first-child {
    padding: 10px 10px 30px 0;
    margin-bottom: 30px;
  }
}

.events article > div:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52%;
          flex: 0 0 52%;
}

@media (max-width: 769px) {
  .events article > div:last-child {
    width: 100%;
  }
}

.events article > div:last-child img {
  width: 100%;
}

.events article .post {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #3d3d3d;
  width: 100%;
  margin-top: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.events article .post p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media (max-width: 769px) {
  .events article .post p {
    font-size: 1.1rem;
  }
}

.events article .post p.activePost {
  left: 0;
}

@media (max-width: 769px) {
  .events article .post p.activePost {
    position: relative;
  }
}

.events article .postNav {
  position: absolute;
  bottom: 0;
  left: 30px;
}

@media (max-width: 769px) {
  .events article .postNav {
    left: 0;
  }
}

.events article .postNav li {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: rgba(61, 61, 61, 0.5);
  cursor: pointer;
}

.events article .postNav li.activeNav {
  background-color: #ffc136;
}

.reservation {
  text-align: center;
  padding: 70px 20% 100px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 769px) {
  .reservation {
    padding: 70px 5% 100px;
  }
}

.reservation h3 {
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: 400;
  display: inline-block;
}

.reservation h2 {
  font-size: 3.5rem;
  margin: 40px 0 30px;
}

.reservation form {
  margin-top: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 769px) {
  .reservation form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.reservation form input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #3d3d3d;
  outline: none;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: "Bebas Neue", cursive;
  font-size: 1.3rem;
}

@media (max-width: 769px) {
  .reservation form input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.reservation form input:last-child {
  margin-bottom: 0px;
}

.reservation form button {
  font-family: "Alfa Slab One", cursive;
  display: block;
  padding: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #df1b1c;
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media (max-width: 769px) {
  .reservation form button {
    width: 100%;
  }
}

.reservation form button:hover {
  background-color: #3d2514;
  color: #ffc136;
}

.reservation img {
  position: absolute;
}

@media (max-width: 769px) {
  .reservation img {
    z-index: -1;
  }
}

.reservation img.topLeft {
  top: 0;
  left: 0;
}

.reservation img.midleLeft {
  left: -15%;
  top: 0;
}

@media (max-width: 769px) {
  .reservation img.midleLeft {
    left: 0;
    height: 100%;
    opacity: 0.5;
  }
}

.reservation img.bottomRight {
  bottom: 0;
  right: -10px;
}

footer {
  background: url(../img/footer-bg.jpg);
  margin: 0 5% 5%;
  padding: 80px 40px 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer a {
  line-height: 60px;
  position: relative;
  font-size: 2.5rem;
  padding-left: 80px;
  font-family: "Bebas Neue", cursive;
  color: #fff;
  width: 100%;
}

footer a::before {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  left: 0px;
  background-size: 60px;
  background-position: center;
  background-image: url(../img/footer-logo.png);
}

footer article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  margin-top: 50px;
}

@media (max-width: 769px) {
  footer article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer article.first p {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  text-align: left;
  line-height: 1.7;
  font-size: 1.1rem;
}

@media (max-width: 769px) {
  footer article.first p {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

footer article.first ul {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

@media (max-width: 769px) {
  footer article.first ul {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

footer article.first ul li {
  line-height: 1.7;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
}

footer article.first ul li i {
  margin-right: 20px;
}

footer article.second {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 769px) {
  footer article.second ul {
    margin-top: 20px;
  }
}

footer article.second ul li {
  display: inline-block;
  margin-left: 20px;
}

footer article.second ul li i {
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */